.para {
  background-image: url(../images/para.png);
  background-size: 100%;
  background-position: center;
}

.para:hover {
  background-size: 105%;
}

.birth {
  background-image: url(../images/birth.jpg);
  background-size: 107%;
  background-position: center;
}

.birth:hover {
  background-size: 112%;
}

.monarch {
  background-image: url(../images/monarch.png);
  background-size: 100%;
  background-position: center;
}

.monarch:hover {
  background-size: 105%;
}

.yip {
  background-image: url(../images/poy.png);
  background-size: 150%;
  background-position: center;
}

.yip:hover {
  background-size: 160%;
}

.al {
  background-image: url(../images/al.jpg);
  background-size: 100%;
  background-position: center;
}

.al:hover {
  background-size: 105%;
}

.ast {
  background-color: black;
}

.mummy{
  background-image: url(../images/mummy.jpg);
  background-size: 107%;
}

.mummy:hover{
  background-size: 112%;
  /* background-position-y: -17px; */
}

.artemis {
  background-image: url(../images/artemis.png);
  background-size: 107%;
  background-color: #141213;
  background-position-y: -17px;
}

.artemis:hover {
  background-size: 112%;
  background-position-y: -17px;
}

.hawaii {
  background-color: #141213;
}

.longevity {
  background-color: #141213;
}

.starmap {
  background-image: url(../images/starmap.png);
  background-size: 107%;
  background-color: #141213;
}

.starmap:hover {
  background-size: 114%;
  background-position-y: -10px;
}

.stingray {
  background-image: url(../images/stingray.png);
  background-size: 107%;
  background-color: white;
}

.stingray:hover {
  background-size: 114%;
  background-position-y: -10px;
}

.stonehenge {
  background-color: #141213;
}

.tut {
  background-color: #141213;
}

.wells {
  background-color: white;
  background-image: url(../images/wells.png);
  background-size: 107%;
  border: 0.5px solid #141213;
}

.wells:hover {
  background-size: 114%;
  background-position-y: -15px;
}

.venus {
  background-image: url(../images/venus.png);
  background-size: 78%;
  background-color: #141213;
}

.venus:hover {
  background-size: 85%;
  background-position-y: -10px;
}

.ele{
  background-image: url(../images/ele.jpg);
  background-size: 120%;
  background-color: #141213;
}

.ele:hover {
  background-size: 130%;
}