@import "background_cards.css";

* {
  color: #3b3232;
  font-size: 21px;
  font-family: 'Merriweather', serif;
}

body {
  background-color: rgba(249, 221, 160, 0.12);
  max-width: 800px;
  margin: auto;
  /* margin: 8px; */

  @media (max-width: 800px) {
    max-width: 400px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin-top: 1em;
  text-align: left;
  margin: 1em;
}

#intro-wrapper {
  max-width: 650px;
}

h1 {
  font-size: 2.5em;
  margin: 0px;
  margin-left: -1px;
}

a {
  text-decoration: none;
}

.hed {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.twitter {
  width: 40px;
  height: 40px;
}

.twitWrapper {
  height: 40px;
}

h2 {
  margin-bottom: 0.2em;
  font-size: 1.3em;
}

p {
  margin-bottom: 1em;
  margin-top: 0.2em;
  font-weight: 300;
  line-height: 1.6em;
}

.dek{
  @media (min-width: 550px){
    /* text-align: justify;
    text-justify: inter-word; */
  }
}

/* .workList{
  list-style-type:'-';
  margin: 0;
  margin-bottom:5px;
  padding: 0;
  font-weight: 300;
}

li{
  margin-bottom: 15px;
  margin-left: 11px;
} */

a:hover {
  color: gray;
}

#byline-wrapper {
  display: flex;
  flex-direction: row;
}

.entry-wrapper {
  display: flex;
  flex-direction: row;

  @media(max-width: 800px) {
    flex-direction: column;
  }
}

.byline-box {
  width: 300px;
  max-width: 300px;
  aspect-ratio: 4/3;
  max-height: calc(550px * .75);
  margin: 0px 0px 20px 0px;
  display: flex;
  align-items: flex-end;
  /* border: 3px solid red; */
  border-radius: 20px;

  @media(max-width: 800px) {
    margin: 0px 0px 10px 0px;
  }
}

.byline-entry {
  max-width: 650px;
  margin-left: 3%;
  @media(max-width: 800px) {
    margin-left: 0;
  }
}

.background-image {
  background-repeat: no-repeat;
  background-position-x: center;
  box-shadow: -5px 5px 10px rgb(0 0 0 / 30%);
  border: 0.5px solid #141213;
  transition: background-size 250ms linear, 
  background-position-y 250ms linear;
}

.image-entry {
  width: 400px;
  height: 300px;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.byline-text {
  margin: 0;
  max-width: 400px;
}

.entry-text-label {
  position: relative;
  font-size: 0.65em;
  text-transform: uppercase;
}

.entry-text-hed {
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.3em;

  @media (max-width: 800px) {
    font-size: 1em;
  }
}

.entry-text-dek {
  position: relative;
  font-size: 0.8em;
  @media (max-width: 800px) {
    font-size: .8em;
  }
}

.white {
  color: black;
  text-shadow: white 0px 0px 5px, white 0px 0px 5px;
}

.black {
  color: black;
}

.byline-textbox {
  margin-bottom: 15%;
  @media (max-width: 800px) {
    margin-bottom: 10%;
  }
}

.entry-video{
  aspect-ratio: 4/3;
  width: 300px;
  max-height: calc(300px * .75);
  z-index: 0;
  border-radius: 19px;
  position: absolute;
  border: 0.5px solid #141213;
}

.entry-video-ast{
  aspect-ratio: 4/3;
  width: 300px;
  max-height: calc(300px * .75);
  z-index: 0;
  border-radius: 19px;
  position: absolute;
  border: none;
}

/* .entry-video-birth, .entry-video-yip, .entry-video-monarch, .entry-video-al {
  border: none;
} */

.entry-vid-wrapper{
  position: relative;
}